
.footer-main{
    background-color: black;
}
.first-li{
   
    display: flex;
    justify-content: space-between;
    color: white;
}
.copyright{
    color: white;
}
.ggmail{
    display: flex;
    flex-direction: row;
    align-items: center;
}
