
.back-img{
 
  padding:  2%;
  margin: 1%;
}
.sec-back-img-head-text{
  font-size: 2em;
  font-weight: bold;
}
.email{
  margin: 2%;
}
.email-responce-k-uper{
  color: rgb(22 211 101);
}
#submit-email{
 padding: 2.1%;
 width: 40%;
 margin-left: 5%;
 border-radius: 50px;
 font-size:1.1em;
 border: 1px solid rgb(12, 12, 12);
}
.btnnn{
background-color: rgb(22 211 101);
font-size: 1.6em;
font-weight: bold;
border: none;
padding: 1.6% ; 
position: absolute;
z-index: 2;
 border-radius: 50px;
 margin-left: -9%;

}
.btnnn:hover{
  background-color: rgb(10, 97, 147);
  transition: 0.8s;
  color: white;
  cursor: pointer;
}
.footer-main{
    background-color: #0E2C50;
    width: 100%;
    padding: 2% 2px;
    font-family: "sans serif like Thesans";
    font-family:   "Helvetica";
    font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
}

.first-li{
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.li-blok-using-media-qu{
  display: flex;
  justify-content: space-around;
}
li:hover{
    transform: 0.6s;
    color: yellow;
    cursor: pointer;
}

.copyright{
    color: white;
}
.ggmail{
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul {
  list-style:none;
}
.social{
  display: flex;
  justify-content: space-around;
  font-size: 1.4em;
  cursor: pointer;
}
.social>span:hover{
  font-size: 1.3em;
  cursor: pointer;
  color: rgb(255, 234, 0);
}
.mapping{
  width: 90%;
  padding-left: 2%;
  
}
.mapping iframe{
  width: 100%;
  height: 80%;
}
 @media screen and (max-width: 580px)  { 
  .li-blok-using-media-qu{
    display: block;
  }
   /* .first-li{
        display: block;
    }  */
  /* .li-blok-using-media-qu{
    display: flex;
    justify-content: space-around;
    padding: 0% 2%;
  } */
  /* .li-blok-using-media-qu2{
    padding: 0% 2%;
    display: flex;
    justify-content: space-around;
  }
  .mapp{
    align-items: center;
    margin:  0% 10%;
   
  }
  .logo{
    width: 100%;
    margin:  0% 10%;
  } */
}