
body{
  margin-top: 1%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #F1F2F4;
}

.up-main{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0;
  padding: 1% 0;
  background-color: white;
  position: sticky;
  top: 1px;
  align-items: center;
  z-index: 2;
}

.nav-main{
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  margin: 1%;
  padding: 1% ;
  width: 96%;
  background-color: white;
 cursor: pointer;
}
.left-nav{
  display: flex;
  width: 25%;
  align-items: center;  
  justify-content: space-between;
}
.left-nav-img{
   width: 13%;
  padding: 1%;
  animation: slideRight 1.6s ease forwards;

}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.toggle{
  display: none;
}
.out-inp{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
.inp{
  padding: 0.8%;
  width: 49%;
  border-radius: 10px;
  display: flex;
  border: none;
  outline: none;
  background-color: #F0F5FF;
  animation: slideTop 1.6s ease forwards;

}
@keyframes slideTop{
  0%{
      transform: translateY(-100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0px);
      opacity: 1;
  }
}

.inp input{
  width: 99%;
  border:none;
  outline: none;
  font-size: 120%;
  background:none
}
/* .main{
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  align-items: center;
  position: sticky;
  z-index: 79;
  } */

 
 
  .right-icon-user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;

  }
  @keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
  .lin{
    text-decoration: none;
  }
  /* .lin:hover{
    background-color: #13ACA7; 
    padding: 1.5%;
    border-radius: 5px; 
  } */
  .icon-user{
    display: flex;
     align-items: center;
     color: black;  
     z-index: 55;

  }
  .icon-user:hover{
    color: white; 
    background-color: #13ACA7; 
    padding: 1.1%;
    cursor: pointer;
    border-radius: 5px;

  } 
.mobile-togle{
  display: none;
}
.nav-prd{
  width: 20%;
  display: flex;
  flex-direction: column;
}
.nav-prd div{
  height: 100%;
}
.nav-prd img{
  width: 34%;
  height: 100%;
  margin: 0 28%;
  text-align: center;
}.nav-prd span{
  text-align: center;
  font-size: 0.9em;
  margin-left: -10%;
}
.Search-box-using-media{
  display: none;
}
.user-ul-show{
  display: block;
}

@media screen and (max-width: 580px)  {
 
   .nav-main{
    display: none;
   }
   .for-media-search{
    background-color:yellow;
    padding-bottom: 1%;
   }
   .up-main{
    background-color:yellow;

   }
   .toggle{
    display: block;
    margin-left: 3%;
   }
   
   .t3dots-icon{
    display: none;
   }
   .nav-main-mobile-togle{
     display:flex;
     color: white;
     padding: 0.6%;
    justify-content: space-between;
    overflow-x: scroll;
     background-color:rgb(22 211 101) ;
   }
  
   .inp{
     display: none;
   }

   .mobile-togle{
    display: block;
   }
   .mobile-togle>.user-ul:hover{
    display: block;
    position:absolute;
    top: 31px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px gray;
    right: 33.5%;
    width: 56%;
   }
.Search-box-using-media{
  display: flex;
  padding: 3%;
  margin: 2%;
  width: 90%;
  background-color: white;
}
.Search-box-using-media input{
  width: 96%;
  border:none;
  outline: none;
  font-size: 120%;
  background:none
}
  .out-inp{
    display: flex;
    justify-content: flex-end;
  }

.inp input {
    font-size: 12px;
   }
 
}

