.main-sign{
    background-color: rgb(198, 139, 88);
   height: 1000px;
}
.sub-main-sign{
    display: flex;
    justify-content: space-evenly; 
    margin: 0;
    padding: 3%;
}
.text{
    width: 44%;
    float: right;
    color: white;
    margin: 3%;
    font-weight: bold;
}

.formm{
    width: 42%;
    text-align: center;
    background-color: aliceblue;
    padding: 2%; 
    margin: 2%;
    border-radius: 3%;
    box-shadow: 2px 4px 6px 2px rgb(124, 68, 68);

}
.text-form{
    width: 42%;
    text-align: center;
    background-color: aliceblue;
    padding: 2%;  
    border-radius: 3%;
    box-shadow: 2px 4px 6px 2px rgb(124, 68, 68);

}
#fi-div{
    background-color: rgb(133, 185, 230);
    
    
}

.btn{
    background-color: aquamarine;
    padding: 1% 4%;
    margin: 2%;
    border-radius: 3%;

}