.main-signn{
    background-color: rgb(198, 139, 88);
}

.text{
    width: 44%;
    float: right;
    color: white;
    margin: 3%;
    font-weight: bold;
}
.become-customer{
    color:  rgb(56, 190, 85);
}
.formm{
    width: 42%;
    text-align: center;
    background-color: aliceblue;
    padding: 2%; 
    margin: 1%;
    border-radius: 3%;
    box-shadow: 2px 4px 6px 2px rgb(124, 68, 68);

}
.inp-log-form{
    border:1px solid rgb(211, 208, 208);
    padding: 1.6%;
    border-radius: 5px;
    opacity:0.8 ;
    width: 60%;
    margin-left: 2%;
}
#fi-div{
    background-color: rgb(133, 185, 230);
    
    
}

.btn{
    background-color: aquamarine;
    padding: 1% 4%;
    margin: 2%;
    border-radius: 5px;
    padding: 1% 3%;
    border: none;
}